.container {
    background-color: aquamarine;
    width: 80%;
}

.links {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
