@import '../../assets/variables';

.title {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    // background-color: burlywood;
}

.titleText {
    font-family: map-get($map: $font-stack, $key: secular-one);
    // font-size: 7rem;
    font-size: clamp(3.5rem, 7vw + 0.5rem, 7rem);
    line-height: 5rem;
}

.icon {
    color: $secondary-color;
    font-size: clamp(1rem, 3vw + 0.6rem, 3rem);
    cursor: pointer;
}

h4, p {
    font-size: 1.2rem;
}

p, strong {
    color: map-get($map: $textcolor, $key: secondary);
}

.sub {
    color: map-get($map: $textcolor, $key: primary);
}

.text {
    margin-top: 2rem;
    line-height: 1.8rem;
    font-weight: lighter;
    margin-bottom: 25vh;
}
