@import '../../assets/variables';

.main {
    width: 100%;
    z-index: 2;
    top: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: $bgcolor;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.text {
    font-weight: lighter;
    cursor: pointer;
}
