@import '../../assets/variables';

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0px 0 0 50px;
    // background-color: lightcyan;
}

.title {
    display: flex;
    text-align: start;
    padding: 2rem 0 2rem 0;
    width: 100%;
    font-family: map-get($map: $font-stack, $key: inter);
    font-size: 3rem;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
