@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Secular+One&display=swap');

$bgcolor: #E38C67;
$secondary-color: #FFF96B;

$textcolor: (
    primary: white,
    secondary: rgba(255, 255, 255, 0.629)
);

$font-stack: (
    secular-one: ('Secular One', sans-serif),
    inter: ('Inter', sans-serif)
    )
